.user {
  background-color: beige;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user:not(:last-child) {
  margin-bottom: 10px;
}

.avatarBlock {
  display: flex;
  width: 100px;
  flex-direction: column;
  align-items: center;
}

.userPic {
  display: block;
  width: 70px;
  margin-bottom: 5px;
  border-radius: 50%;
}

.btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: darkslateblue;
  text-transform: uppercase;
  font-weight: bold;
  padding: 2px 5px;
  border: 1px solid darkslateblue;
  border-radius: 3px;
  transition: 0.1s;
}

.btn:hover:not([disabled]) {
  background-color: darkslateblue;
  color: beige;
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.userLocation {
  margin-bottom: 20px;
}

.userStatus {
  font-style: italic;
}

.pagination {
  text-align: center;
  margin-bottom: 5px;
  font-size: 1.5rem;
}

.pagination .btn {
  font-size: 1.5rem;
  padding: 0 10px;
}

.btn:disabled {
  cursor: default;
  border-color: lightslategray;
  color: lightslategray
}

.currentPage {
  display: inline-block;
  margin: 0 10px;
}