.dialogs_items {
  display: flex;
}

.chats {
  width: 30%;
}

.messages {
  padding: 5px;
  border-radius: 0 3px 3px 0;
  width: 70%;
  height: 100%;
  background-color: rgb(197, 221, 243);
}

.textarea {
  width: 100%;
  min-height: 60px;
  border-radius: 3px;
  padding: 5px;
  resize: none;
}

.send_btn {
  display: block;
  padding: 3px 15px;
  border: none;
  border-radius: 2px;
  background-color: cadetblue;
  color: white;
  cursor: pointer;
  transition: 0.2s;
  margin-left: auto;
}

.send_btn:hover {
  box-shadow: 2px 2px 2px rgb(163, 199, 201);;
}

.send_btn:disabled {
  cursor: default;
  background-color: grey;
}

.errorMessage {
  color: red;
  margin-bottom: 10px;
  text-align: right;
}